SHEETY_USRERNAME=your_username
SHEETY_PASSWORD=your_password
AMADEUS_API_KEY=your_api_key
AMADEUS_SECRET=your_secret
TWILIO_SID=your_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_FROM=whatsapp:+1234567890
TWILIO_TO=whatsapp:+1234567890
